.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.pt-sm {
  padding-top: 10px;
}
.mt-sm {
  margin-top: 10px;
}
.pb-sm {
  padding-bottom: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.pl-sm {
  padding-left: 10px;
}
.ml-sm {
  margin-left: 10px;
}
.pr-sm {
  padding-right: 10px;
}
.mr-sm {
  margin-right: 10px;
}
.pt-md {
  padding-top: 20px;
}
.mt-md {
  margin-top: 20px;
}
.pb-md {
  padding-bottom: 20px;
}
.mb-md {
  margin-bottom: 20px;
}
.pl-md {
  padding-left: 20px;
}
.ml-md {
  margin-left: 20px;
}
.pr-md {
  padding-right: 20px;
}
.mr-md {
  margin-right: 20px;
}
.pt-lg {
  padding-top: 30px;
}
.mt-lg {
  margin-top: 30px;
}
.pb-lg {
  padding-bottom: 30px;
}
.mb-lg {
  margin-bottom: 30px;
}
.pl-lg {
  padding-left: 30px;
}
.ml-lg {
  margin-left: 30px;
}
.pr-lg {
  padding-right: 30px;
}
.mr-lg {
  margin-right: 30px;
}
pre,
.highlight {
  background: #2d2d2d;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.highlight .gutter pre,
.gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
pre,
code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
code {
  background: #ccc;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.highlight .line {
  height: 22.400000000000002px;
}
.highlight .line.marked {
  background: #515151;
}
.gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.gist .gist-file .gist-data {
  background: none;
  border: none;
}
.gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
html {
  font-size: 10px;
}
body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
h1 {
  font-size: calc(2rem + 0.6vw);
}
.container {
  max-width: 700px;
  margin: 0px auto;
}
a {
  color: #333;
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}
.navbar ul li {
  list-style: none;
  line-height: 1.5;
}
.avatar {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}
.avatar.small {
  max-width: 50px;
  max-height: 50px;
}
img {
  max-width: 100%;
}
.post {
  font-size: 1.8rem;
  line-height: 1.6;
  padding-bottom: 2.5rem;
}
.post h1 {
  font-size: calc(1.3em + 1vw);
}
.post h2 {
  font-size: calc(1em + 1vw);
}
article > table {
  width: 100%;
  border-collapse: collapse;
}
article > table,
article > table th,
article > table td {
  border: 1px solid #000;
}
