<section class="blog">
  <h1>Blog</h1>
  <ul>
    <% site.posts.reverse().each((post, i) => { %>
      <li>
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        <small class="ml-md"><%= date(post.date, config.date_format) %></small>
      </li>
    <% }) %>
  </ul>
</section>