<%- partial('_partial/head') %>
<body>
  <!-- facebook comments script -->
  <% if (theme.facebook_comments_enabled) { %>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  <% } %>

  <!-- rest of body -->
  <div class="container">
    <%- partial('_partial/header') %>
    <%- body %>
  </div>
</body>
</html>