<div class="post">
  <h1><%= page.title %></h1>
  <article><%- page.content %></article>
  
  <!-- facebook comment box -->
  <% if (theme.facebook_comments_enabled) { %>
    <div
      class="fb-comments"
      data-href="<%- url %>"
      data-numposts="5"
      data-width="100%"
    >
    </div>
  <% } %>
</div>