sizes = { sm: 10px, md: 20px, lg: 30px }
sides = {t: 'top', b: 'bottom', l: 'left', r: 'right'}

for size, sizeValue in sizes
  for side, sideValue in sides 
    .p{side}-{size}
      padding-{sideValue} sizeValue
    .m{side}-{size}
      margin-{sideValue} sizeValue