// Colors
color-border = #ddd
color-link = #258fb8
color-background = #eee

// Fonts
font-sans = -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.6em
line-height-title = 1.1em

// Layout
article-padding = 20px

