@import('_variables')
@import('_helpers')
@import('_spacing')
@import('highlight')

body
  color #333
  font-family font-sans
  font-size 18px
  line-height 1.5
  background #eee

.container
  max-width 720px
  margin 0px auto

ul
  padding 0px
  li
    list-style none
    line-height 1.5

a
  color #333

.navbar
  ul
    display flex
    justify-content flex-end

.avatar
  border-radius 50%
  max-width 200px
  max-height 200px
  overflow hidden
  img
    max-width 100%

.post
  font-size: 18px
  line-height: 2
