@import('_variables')
@import('_helpers')
@import('_spacing')
@import('highlight')

html
  font-size: 10px

body
  color #333
  font-family font-sans
  font-size 1.8rem
  line-height 1.5

h1
  font-size calc(2rem + 0.6vw)

.container
  max-width 700px
  margin 0px auto

a
  color #333

.navbar
  ul
    display flex
    justify-content flex-end
    padding 0px
    li
      list-style none
      line-height 1.5

.avatar
  border-radius 50%
  max-width 200px
  max-height 200px
  overflow hidden

.avatar.small
  max-width 50px
  max-height 50px

img
  max-width 100%

.post
  font-size: 1.8rem
  line-height: 1.6
  padding-bottom: 2.5rem
  h1
    font-size calc(1.3em + 1vw)
  h2
    font-size calc(1em + 1vw)

article > table {
  width: 100%;
  border-collapse: collapse;
}

article > table,
article > table th,
article > table td {
  border: 1px solid black;
}